@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100%;
}

* {
    @apply box-border;
}

button {
    -webkit-tap-highlight-color: transparent;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

@font-face {
    font-family: "Monaspace Neon";
    src: url("/fonts/Iosevka-Regular.woff2") format("woff2");
    font-display: swap;
}