@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Inter', sans-serif;
    }
    
    * {
        @apply box-border;
    }
    
    button {
        -webkit-tap-highlight-color: transparent;
    }
}

@layer utilities {
    .tooz-shadow {
        box-shadow: 0 0 4px 2px #0002;
    }
}